

<h3><%= @your_message %></h3>

<p>- You</p>

<h3><%= @answer %></h3>

<p>- Your coach</p>

<%= link_to "Answer something again", ask_path %>

<!--
if your_message == "I am going to work right now!"
      exit
    elsif your_message.include?("?")
      return "Silly question, get dressed and go to work!"
    else
      return "I don't care, get dressed and go to work!"
    end -->
